# Deep Learning Algorithms

### Implementation of Neural Network

In [21]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split

In [22]:
# Check if GPU is available
print("Num GPUs Available:", len(tf.config.experimental.list_physical_devices('GPU')))

# Checking the version of tensorflow
print("Tensorflow version: ", tf.__version__)

Num GPUs Available: 1
Tensorflow version:  2.16.2

In [23]:
# Load the dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

The above dataset is a binary classification dataset, tells whether the customer has exited or not.

In [24]:
# Split the dataset into features and labels
X = df.drop(columns=['RowNumber','CustomerId','Surname','Exited'], axis=1)
y = df['Exited']

In [25]:
# Check the shape of X and y
print(X.shape, y.shape)

(10000, 10) (10000,)

### Feature Engineering

In [26]:
# One-Hot Encoding
geo = pd.get_dummies(X['Geography'], drop_first=True)
gen = pd.get_dummies(X["Gender"], drop_first=True)

In [27]:
# Drop Gender and Geography columns in X
X.pop('Geography')
X.pop('Gender')

0       Female
1       Female
2       Female
3       Female
4       Female
         ...
9995      Male
9996      Male
9997    Female
9998      Male
9999    Female
Name: Gender, Length: 10000, dtype: object

In [28]:
#Concatenate the one-hot encoded columns to X
X = pd.concat([X, geo, gen], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False

In [31]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print("X shape",X_train.shape, X_test.shape)
print("y shape",y_train.shape, y_test.shape)

X shape (8000, 11) (2000, 11)
y shape (8000,) (2000,)

In [36]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### Artifical Neural Network - ANN

In [37]:
# Building of ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU
from tensorflow.keras.layers import Dropout